/* Common CSS  */
body{
    margin: 0;
    padding: 0;
}
.main-body{
    width: 1080px;
    margin: 0 auto;    
}
h1, h2{
    margin:0;
    padding:0;
}

/* Common CSS End */ 


/* Background image Effect start  */

.background-effect,
.Combackground-effect,
.Appbackground-effect{
    position: relative;
}

.devbg-img{
    background-image: url(img/shape-1.png);
    background-repeat: no-repeat;
    background-size: 150px;
    position: absolute;
    z-index: -1;
    left: -119px;
    top: 297px;
    width: 350px;
    height: 350px;
}

.combg-img{
    background-image: url(img/Ellipse_34.png);
    background-repeat: no-repeat;
    background-size: 100px;
    position: absolute;
    z-index: -1;
    left: 403px;
    top: 220px;
    width: 350px;
    height: 350px;
    transform: rotate(-21deg);
}

.Appbg-img1{
    background-image: url(img/Rectangle_21.png);
    background-repeat: no-repeat;
    background-size: 100px;
    position: absolute;
    z-index: -1;
    left: -37px;
    top: -1px;
    width: 350px;
    height: 350px;
}
.Appbg-img2{
    background-image: url(img/Rectangle_21.png);
    background-repeat: no-repeat;
    background-size: 100px;
    position: absolute;
    z-index: -1;
    left: -61px;
    top: 380px;
    width: 350px;
    height: 350px;
}

.Appbg-img3{
    background-image: url(img/Rectangle_21.png);
    background-repeat: no-repeat;
    background-size: 100px;
    position: absolute;
    z-index: -1;
    left: -414px;
    top: 531px;
    width: 350px;
    height: 350px;
}

/*  Background image End */



/* Multiple CSS Start */

#secone,
#sectwo,
#secthree,
#secfour{
    display: block;
    overflow: hidden;
}

#sectwo,
#secfour,
.app_boxAre {
    margin: 50px 0px;
}

.head_body,
.miss_box,
.devlop_ara,
.communicate_ara,
.app_boxAre{ 
    display: flex;
}

.head_body{
    margin:0 auto;
    position: relative;
 }

.h1Colx, .h2Colx{
    font-size: 44px;
    font-family: inherit;
    font-weight: 600;
}

.miss_box1 img,
.miss_box2 img,
.miss_box3 img{
    width: 156px;
    height: 155px;
}

.miss_box1,
.miss_box2,
.miss_box3 {
    margin: 0 10px;
    border-radius: 15px;
    padding: 0px 25px;
}

.miss_box1 p,
.miss_box2 p, 
.miss_box3 p{
    font-family: Poppins;
}

.miss_box1 h1,
.miss_box2 h1, 
.miss_box3 h1{
    font-family: tahoma;
}
  
.bte,
.devbun,
.comdev,
.apbon{
    text-decoration: none;
    background: #FF5959;
    color: #fff;
    padding: 12px 28px;
    border-radius: 5px;
}

.devlop_ara{
    margin: 90px 0px;
}


.dev_img img,
.head_img img,
.app_img img{
    width: 360px;
    height: auto;
}

.devh1,
.apph1{
    font-size: 35px;
    font-weight: 800;
    font-family: tahoma;
}

.dev_text p{
    font-size: 18px;
    width: 501px;
    text-align: justify;
}

.comm_text p,
.app_text p{
    font-size: 18px;
    width: 425px;
    text-align: justify;
}
.hma,
.hap {
    text-align: center;
}

.hma,
.hap,
.aph {
    font-size: 40px;
    font-weight: 600;
    font-family: tahoma;
    margin-bottom: 38px;
}


/* Multiple CSS End */

.vl{
    height: 98px;
    border-left: 5px solid #FF5959;
    position: absolute;
    top: 22%;
    left: -2%;
}


.h1Colx,
.devh1{
    color: #333333 !important;
}

.h2Colx{
    color: #FFAD5A;
}

.fsp{
    color: #3E3E3E;
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
}

.hpb{
    margin: 25px 0;
}

.head_img img{
    width: 395px;
    height: auto;
}

.head_text,
.app_text{
    margin-top: 10%;
}
.btn-exp{
    margin-top: 8%;
}

.hpb p{
    font-size: 19px;
    color: #3E3E3E;
}


/*  Second section area start.  */

.miss_box1{
   background-color:#4f9da61f;
}
.miss_box2{
  background-color: #ff595924;
}
.miss_box3{
    background: #FFF4D6;
}

/*  Second section area End.  */


/* Third section area start */

.dev_text{
    margin-left: 6%;
}

.comm_text{
    width: 520px;
}

/* Third section area End */

/* Four section area start */
/* Four section area End */


/* Five section area start */
.app_text{
    margin-left: 15%;
}
/* Five section area End */


/* Footer area start  */
.footer_ara{
    background: #000;
    padding: 55px 5px;
}

.main_footer{
    text-align: center;
    color: #fff;
}

.main_footer h1{
    font-family: tahoma;
    font-weight: 800;
}
.main_footer p{
    color: #D9DBE1;
    font-size: 12px;
}
/* Footer area End  */